[submodule "OpenCLProjects/OpenCL-Docs"]
	path = OpenCLProjects/OpenCL-Docs
	url = https://github.com/KhronosGroup/OpenCL-Docs
[submodule "cadnaGPU_V1.3bis_all/cuda-samples"]
	path = cadnaGPU_V1.3bis_all/cuda-samples
	url = https://github.com/hungpham3112/cuda-samples.git
